@{

    var discos = ViewBag.biblioteca as Dictionary<int, Disco>;
}

<header class="IndexHeader">
<img src="/img/descarga.png" alt="Logo" class="ImagenLogo">
<h5>catwitify</h5>
</header>
<body>
<main>
@foreach (var disco in discos.Values)
{
<div class="DivIndex">
<img src="@disco.Datos.Foto" alt="Logo" class="ImagenBanner">

        <h1>@disco.Datos.Nombre  <a target="_blank" href="@disco.Datos.LinkArtista"> </h1>
        <div class="Boton"> Ver Artista<a asp-action="MostrarDatosAlbum" asp-route-nombre="@disco.Datos.Nombre">Ver Álbum</a></div>
        </div>
}

</main>
<footer>
  <pre>
.==============================================.
|                                              |
|                           .'\                |
|                          //  ;               |
|                         /'   |               |
|        .----..._    _../ |   \               |
|         \'---._ `.-'      `  .'              |
|          `.    '              `.             |
|            :            _,.    '.            |
|            |     ,_    (() '    |            |
|            ;   .'(().  '      _/__..-        |
|            \ _ '       __  _.-'--._          |
|            ,'.'...____'::-'  \     `'        |
|           / |   /         .---.              |
|     .-.  '  '  / ,---.   (     )             |
|    / /       ,' (     )---`-`-`-.._          |
|   : '       /  '-`-`-`..........--'\         |
|   ' :      /  /                     '.       |
|   :  \    |  .'         o             \      |
|    \  '  .' /          o       .       '     |
|     \  `.|  :      ,    : _o--'.\      |     |
|      `. /  '       ))    (   )  \>     |     |
|        ;   |      ((      \ /    \___  |     |
|        ;   |      _))      `'.-'. ,-'` '     |
|        |    `.   ((`            |/    /      |
|        \     ).  .))            '    .       |
|     ----`-'-'  `''.::.________:::TT'' ---    |
|                                              |
|                                              |
|==============================================|
|                  THEO TROSMAN                |
|         https://github.com/theotrosman       |
'=============================================='
  </pre>



</footer>
</body>
 
