<header class="Perfil">
  <img src="/img/cherryblossom.jpg" alt="Cherry" srcset="">
  <h1></h1>
</header>
<main class="MainPerfil">
  <img src="/img/profile.jpg" alt="" srcset="">
  <h1>🌸 Usuario de Catwitify 🌸</h1>
  <div>
    <h2>Suscripción actual: Premium Level 2</h2>
  </div>
</main>
<footer>
  <pre>

  
.==============================================.
|                                              |
|                           .'\                |
|                          //  ;               |
|                         /'   |               |
|        .----..._    _../ |   \               |
|         \'---._ `.-'      `  .'              |
|          `.    '              `.             |
|            :            _,.    '.            |
|            |     ,_    (() '    |            |
|            ;   .'(().  '      _/__..-        |
|            \ _ '       __  _.-'--._          |
|            ,'.'...____'::-'  \     `'        |
|           / |   /         .---.              |
|     .-.  '  '  / ,---.   (     )             |
|    / /       ,' (     )---`-`-`-.._          |
|   : '       /  '-`-`-`..........--'\         |
|   ' :      /  /                     '.       |
|   :  \    |  .'         o             \      |
|    \  '  .' /          o       .       '     |
|     \  `.|  :      ,    : _o--'.\      |     |
|      `. /  '       ))    (   )  \>     |     |
|        ;   |      ((      \ /    \___  |     |
|        ;   |      _))      `'.-'. ,-'` '     |
|        |    `.   ((`            |/    /      |
|        \     ).  .))            '    .       |
|     ----`-'-'  `''.::.________:::TT'' ---    |
|                                              |
|                                              |
|==============================================|
|                  THEO TROSMAN                |
|         https://github.com/theotrosman       |
'=============================================='
  </pre>



</footer>
