* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  min-height: 100%;
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

footer {
  margin-top: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.ImagenBanner {
  width: 30%;
  height: auto;
  float: left;
  border-radius: 20px;
  margin-right: 2%;
  border: 1px solid rgb(255, 255, 255);
}
main
{
  background-color: rgb(34, 31, 31);
}
header h1 {
  font-weight: bold;
  font-size: 80px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

.headerMostrar {
  background-color: rgb(29, 27, 27);
  padding: 20px;
  border: 0.7px dashed rgb(255, 255, 255);
  height: 600px;
}
.Descripcion
{
  color: white;
  opacity: 85%;
  margin-bottom: 2%;
  font-size: 30px;
}
.Cancion
{
  width: 100%;
  margin-bottom: 0%;
  background-color: rgb(29, 27, 27);
  opacity: 90%;
  height: 122.5px;
  border: 0.7px dashed rgb(255, 255, 255);
}
.Cancion li
{
  margin-top: 0.3%;
  color: white;
  font-size: 40px;
  margin-left: 4%;
  list-style: none;
}
.ImagenExplicit
{
  width: 3.5%;
  height: auto;
  margin-top: 0.5%;
  margin-bottom: 1%;
  float: left;
  margin-left: 1%;
}
h7
{
  margin-top: 0.9%;
  float: left;
  margin-left: 0.7%;
  color: white;
  font-size: 25px;
}
h3
{
  text-align: center;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
}
header p
{
  font-size: 25px;
  color: white;
  margin-bottom: 0.5%;
  opacity: 70%;
}
.ImagenLogo
{
height: 30%;
width: auto;
margin-right: 5%;
}
body {
  background-color: rgb(29, 27, 27);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #f5f5f5;
}

.DivIndex {
  display: flex;
  flex-direction: column;
  align-items:center; 
  justify-content: center;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

}

.DivIndex img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.DivIndex h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.Boton {
  margin-top: 10px;
  
}

.Boton a {
  text-decoration: none;
  background-color: #FF5C8D;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
}
.IndexHeader img
{
  width: 16%; 
  height: auto;
  padding-right: 0%;
  margin-left: 41.1%;
}
.IndexHeader h5
{
  font-size: 50px;
  text-transform: uppercase;
  margin-left: 42.5%;
}
.Banda
{
  font-size: 40px;
  color: white;
  text-transform: bold;
  opacity: 100%;
}
Footer
{
  background-color: rgb(29, 27, 27);
  margin-top: -1%;
padding-top: 0.5%;
}
footer pre
{
  text-align: center;
}